@model ControleurViewModel

    <head>
        <link rel="stylesheet" href="css/assets/css/fontawesome.css">
        <link rel="stylesheet" href="css/assets/css/templatemo-plot-listing.css">
        <link rel="stylesheet" href="css/assets/css/animated.css">
        <link rel="stylesheet" href="css/assets/css/owl.css">
    </head>

    <div class="page-header">
        <h1>Product traceability Controleur detail</h1>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-nowrap" scope="col"> Libelle Retour </th>
                            <th class="text-nowrap" scope="col"> Date retour</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ foreach (var item in Model.listControleur)
                            {
                                <tr>

                                    <td>@item.LotProd</td>
                                    <td>@item.Serial</td>

                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>